
:root{
    --themeColor:radial-gradient(red,yellow,orange);
    
    
}
body{
    background-color: orangered;
    position: relative;
    min-height: 89vh;
}

.a{
    min-height: 72vh;
}
.b{
    margin-top: 100px;
}
.c{
    margin-bottom: 20px !important;
}

.e{
    position: absolute !important;
    left:60px !important;
    

}


main {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .stepper {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
  }

  .form {
    background: #fff;
    text-align: center;
    position: absolute;
    width: 25rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    display: none;
    border-radius: .5rem;
    overflow: hidden;
  }
  .form--header-d {
    background:var(--themeColor);
    color: rgb(10, 119, 34);
    height: 6rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  
  .form--header-title {
    font-size: 1.4rem;
  }
  
  .form--header-text {
    padding: 0.5rem 0;
  }
  
  input[type='text'] {
    padding: 1rem;
    margin: auto;
    margin-top: 0rem;
    width: 20rem;
    display: block;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  input[type='password'] {
    padding: 1rem;
    margin: auto;
    margin-top: 0rem;
    width: 20rem;
    display: block;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #43cea2;
  }
  
  
  .form__btn {
    background:var(--themeColor);
    color: black;
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    width: 20rem;
    margin: 1rem auto;
    border-radius: 0.9rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  .form--message-text {
    width: 25rem;
    background: #fff;
    color: rgb(1, 0, 2);
    padding: 2rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(51, 51, 51, 0.2);
    animation: fadeIn 0.8s;
    border-radius: 1rem;
  }
  
  .form-active {
    z-index: 1000;
    display: block;
  }
  .form-active-animate {
    animation: moveRight 1s;
  }
  .form-inactive {
    display: block;
    animation: moveLeft 1s;
  }

  .errorMsg{
    position: absolute;
    top:-100%;
    left:50%;
    width:40%;
    padding: 0.5% 5%;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    border-radius: 20px;
    z-index: 2000;
    text-align: right !important;
}
.errorMsg::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(0, 0, 0, 0.753);
    position: absolute;
    bottom:-54%;
    left:67%;
    z-index: 2000;
}
.errorMsg.hidden{
    display: none;
}

canvas{
  position: absolute;
  height:100%; 
  width: 100%;
  top:0;
  left:0;
  object-fit: cover;
  background: transparent;
}
